# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
logs/
*.log

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python version manager
.python-version

